body {
  background: #000;
}

.chooser {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s;
  background: #000;
}
.chooser.active {
  max-height: 190px;
}
.chooser-timer {
  background: #FFF;
  height: 4px;
  margin: 0 auto;
  width: 100%;
  transition: width 10s;
  visibility: hidden;
}
.active .chooser-timer {
  width: 0;
  visibility: visible;
}
.selectionMade .chooser-timer {
  background: #7F7F7F;
}
.chooser-choices {
  display: flex;
  justify-content: space-evenly;
  padding: 23px 0 37px 0;
}
.chooser-choice {
  border: none;
  background: transparent;
  color: #7F7F7F;
  padding: 30px;
  text-transform: uppercase;
  cursor: pointer;
  font-family: 'Rubik', sans-serif;
  font-size: 2.1em;
  letter-spacing: 0.06em;
  outline: none;
  transition: color 0.5s;
}
.chooser-choice.selected {
  color: #FFF;
  cursor: default;
}
.chooser-choice.hidden {
  visibility: hidden;
}
.chooser-choice:after {
  display: block;
  content: ' ';
  background: linear-gradient(to bottom, #C0C0C0 0%, #C0C0C0 25%, #EAEAEA 26%, #EAEAEA 50%, #DEDEDE 51%, #DEDEDE 75%, #C0C0C0 76%, #C0C0C0 100%);
  box-shadow: inset 45px 0px 40px -12px rgba(0, 0, 0, 0.9), inset -45px 0px 40px -12px rgba(0, 0, 0, 0.9);
  width: 100%;
  margin-top: 21px;
  height: 4px;
  opacity: 0;
  transition: opacity 0.5s;
}
.chooser-choice:not(.selected):focus, .chooser-choice:not(.selected):hover {
  color: #FFF;
}
.chooser-choice:not(.selected):focus:after, .chooser-choice:not(.selected):hover:after {
  opacity: 1;
}

.player {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
